name: Deploy

on:
  workflow_dispatch:
  workflow_call:

jobs:
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: development
        shell: bash
        if: github.ref_name == 'next' || github.ref_name == 'debug'
        run: |
          curl --request GET --header "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}" ${{ secrets.CF_DEV_URL }}

      - name: production
        shell: bash
        if: github.ref_name == 'main' || github.ref_name == 'beta'
        run: |
          curl --request GET --header "Authorization: Bearer ${{ secrets.CF_API_TOKEN }}" ${{ secrets.CF_PROD_URL }}
