name: Testing

on:
  workflow_call:

jobs:
  tests:
    name: Unit
    timeout-minutes: 15
    runs-on: ubuntu-latest
    env:
      STRAPI_URL: http://localhost:1337
      STRAPI_READER_TOKEN: some-token
    steps:
      - name: Check out code
        uses: actions/checkout@v4
        with:
          fetch-depth: 2

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Get pnpm store directory
        id: vars
        shell: bash
        run: |
          echo "store_path=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ steps.vars.outputs.store_path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Cache turbo build setup
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: install dependencies
        run: pnpm install

      - name: build
        shell: bash
        run: |
          cp apps/api/.env.default apps/api/.env
          cp apps/web/.env.default apps/web/.env
          pnpm build

      - name: test with coverage
        run: pnpm coverage

      - name: upload web coverage
        uses: codecov/codecov-action@v4
        with:
          flags: web # optional
          name: web # optional
          files: ./clover.xml
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true
          directory: ./apps/web/coverage

      - uses: codecov/codecov-action@v4
        with:
          flags: openapi # optional
          name: openapi # optional
          files: ./clover.xml
          token: ${{ secrets.CODECOV_TOKEN }} # required
          verbose: true
          directory: ./packages/openapi/coverage

  e2e:
    name: E2E
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: tests
    if: ${{ needs.tests.result }}
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Install Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20

      - uses: pnpm/action-setup@v4
        name: Install pnpm
        with:
          run_install: false

      - name: Get pnpm store directory
        id: vars
        shell: bash
        run: |
          echo "store_path=$(pnpm store path --silent)" >> $GITHUB_OUTPUT

      - name: Setup pnpm cache
        uses: actions/cache@v4
        with:
          path: ${{ steps.vars.outputs.store_path }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Turbo build cache
        uses: actions/cache@v4
        with:
          path: .turbo
          key: ${{ runner.os }}-turbo-${{ github.sha }}
          restore-keys: |
            ${{ runner.os }}-turbo-

      - name: Install dependencies
        run: pnpm install

      - name: Build
        shell: bash
        run: |
          cp apps/api/.env.default apps/api/.env
          cp apps/web/.env.default apps/web/.env
          pnpm build
          pnpm seed:dev

      - name: Start dev server
        run: nohup pnpm start &

      - name: Install Playwright Browsers
        working-directory: ./apps/web
        run: pnpm playwright install --with-deps

      - name: Run Playwright tests
        run: pnpm e2e

      - uses: actions/upload-artifact@v4
        if: ${{ !cancelled() }}
        with:
          name: web-playwright-report
          path: ./apps/web/playwright-report/
          retention-days: 30
